{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Geologist aspiring to be a Geodata Scientist  .</h3>
        <h3>I am a recipent of the prestigious Erasmus Mundus scholarship for Copernicus Master in Digital Earth at the University of Salzburg and the University of South Brittany.</h3>
        <h3>I will have the opportunity to create a variety of projects during the course of the program which will be presented in this portfolio. Explore my work here<a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more information check out my academic &amp; professional <a href="{{ .Site.BaseURL }}img/CV.pdf">CV</a>.</h3>
        <h3>Contact me at <a href="https://www.linkedin.com/in/tanya-singh-360a65bb/{{ .Site.Params.Social.LinkedIn}}">@Tanya Singh</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    <div id="eulogos">
    <br>
    <center>
    <img src="{{ .Site.BaseURL }}img/eulogo.png">
    </center>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
